html {
    font-size: 62,5%;
}

.titulo {
    font-size: 2rem;
    color: white;
    background-color: black;
    font-style: oblique;

}



.cajaPrincipal {
    background-color: #d6ccc2;
    width: 100%;
    height: auto;
    position: relative;
    font-size: 2rem;
    border: solid 2px black;

}

.liItems {
    display: inline-block;
    font-size: 2rem;
    

}

.item1 {
    display: inline-block;
    font-style: oblique;
}

.item2 {
    display: inline-block;
    font-style: oblique;

}


.item3 {
    display: inline-block;
    font-style: oblique;
}

.item4 {
    display: inline-block;
    font-style: oblique;
}

.item5 {
    display: inline-block;
    font-style: oblique;
}

.footer {
    font-style: oblique;
    font-size: 2rem;
    color: black;
    background-color: #d6ccc2;
}